* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: Helvetica, sans-serif;
}
body {
    background: #f6f3f0;
}
button { cursor: pointer }
.container {
    max-width: 1140px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn-cart {
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}
.btn-cart:hover { background: rgb(53, 167, 110); }
.btn-cart:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

header {
    background: linear-gradient(to left, #ffd934 0%, greenyellow 100%);
    margin-bottom: 50px;
}
.header__wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 15px;
    padding-bottom: 15px;;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
img {
    width: 100%;
}
.product-item {
    overflow: hidden;
    border: 1px darkgrey solid;
    border-radius: 15px;
    transition: transform 0.3s;
    cursor: pointer;
    background: #ffffff;
}
.product-item:hover {
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .30);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .30);
    box-shadow: 0 0 10px rgba(0, 0, 0, .30);
    transform: scale(1.02);
}
.product-item .caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.to-cart {
    cursor: pointer;
    border-radius: 5px;
    border: 1px black solid;
    padding: 10px;
    background: #fff;
}
.to-cart:hover {
    color: #fff;
    border: none;
    background: rgb(64,199,129);
}

.cart {
    /*visibility: hidden;*/
    border-left: 1px solid rgba(0,0,0,.15);
    position: absolute;
    top: 71px; bottom: 0; right: 0;
    width: 29rem;
    background: #ffffff;
    padding: 15px;
}
.cart__item {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}
.cart__item > div{
    outline: 1px red solid;
}
.cart__item h4 {
    color: #0072ff;
}
.cart__item button {
    padding: 5px 10px;
}

@media (max-width: 1100px) {
    header {margin-bottom: 35px}

    .products {
        display: grid;
        grid-template: auto / repeat(3, 1fr);
        grid-gap: 20px;
    }
}
@media (max-width: 850px) {
    header {margin-bottom: 20px}

    .products {
        display: grid;
        grid-template: auto / repeat(2, 1fr);
        grid-gap: 20px;
    }
}
@media (max-width: 550px) {
    .products {
        display: grid;
        grid-template: auto / repeat(1, 1fr);
        grid-gap: 20px;
    }
}